#removeCurrentGoalButton, #removeFutureGoalButton, #createButton
{
    -fx-font-size: 15px;
}

#currentGoalsLabel, #createANewGoalLabel, #futureGoalsLabel, #AcheivedGoalsLabel, #FailedGoalsLabel
{
    -fx-font-size: 20px;
}

#helpButton
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#startDatePicker .button, #targetDatePicker .button
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
#startDatePicker .label, #targetDatePicker .button
{
    -fx-text-fill: black;
}

.tab .label
{
    -fx-background-color: transparent;
}

.tab
{
    -fx-background-radius: 1em 1em 0 0;
    -fx-background-color: linear-gradient(#0097A7 0%, #4DD0E1 100%);
}

.tab:selected
{
    -fx-border-radius: 1em 1em 0 0;
    -fx-border-width: 2px;
    -fx-border-color: #0097A7;
}

#createGoalVBox
{
    -fx-background-color: linear-gradient(#0097A7 0%, #4DD0E1 100%);
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
    -fx-border-width: 3px;
    -fx-border-color: #0097A7;
}