#userOneButton, #userTwoButton, #userThreeButton, #userFourButton, #userFiveButton
{
    -fx-background-radius: 8em;
    -fx-border-radius: 8em;
    -fx-border-width: 4px;
    -fx-border-radius: 8em;
    -fx-border-max-height: 200px;
    -fx-border-min-height: 200px;
    -fx-border-max-width: 200px;
    -fx-border-min-width: 200px;
}

.label
{
    -fx-font-size: 19px;
    -fx-text-fill: blue;
}

#helpButton
{
    -fx-border-width: 0;
}

#helpTextArea
{
    -fx-border-width: 3px;
}