#quoteButton
{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
}

#quotesLabel
{
    -fx-font-family: System;
    -fx-font-size: 19px;
    -fx-font-style: italic;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
}

#helpButton
{
    -fx-border-width: 0;
}

#welcomeProfileLabel
{
    -fx-font-size: 22px;
}

#yourProfileLabel, #measurementsLabel, #recentActivitiesLabel, #dailyStatsLabel, #goalDescriptionLabel, #activityDescriptionLabel, #activitiesListLabel, #goalsListLabel
{
    -fx-font-family: System;
    -fx-font-style: italic;
    -fx-font-size: 18px;
}

#overallStatsVBox, #dailyStatsVBox, #wholeProfileVBox, #goalVBox
{
    -fx-background-color: linear-gradient(#4DD0E1 0%, #B2EBF2 100%);
    -fx-border-width: 2px;
    -fx-border-color: #0097A7;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

#distanceText, #velocityText, #heartRateText, #activity1Text, #activity2Text, #activity3Text
{
    -fx-text-fill: black;
}

#calendarPane .button
{
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

.list-view
{
    -fx-background-radius: 0;
    -fx-background-color: linear-gradient(#4DD0E1 0%, #B2EBF2 100%);
    -fx-border-color: #0097A7;
    -fx-border-radius: 0;
    -fx-border-width: 2px;
}

.list-view .list-cell:filled
{
    -fx-background-color: linear-gradient(#4DD0E1 0%, #B2EBF2 100%);
    -fx-text-fill: black;
}

.list-view .list-cell:selected
{
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(#4DD0E1 0%, #B2EBF2 100%);
    -fx-border-color: white;
}

.list-view .list-cell {
    -fx-background-radius: 0;
    -fx-background-color: linear-gradient(#4DD0E1 0%, #B2EBF2 100%);
    -fx-border-color: #0097A7;
    -fx-border-radius: 0;
    -fx-border-width: 1px;
}

#calendarPane .list-cell:selected
{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-border-color: white;
}

#calendarPane .list-view
{
    -fx-background-color: linear-gradient(#4DD0E1 0%, #B2EBF2 100%);
    -fx-border-color: #0097A7;
}

#calendarPane .combo-box > .list-cell
{
    -fx-background-radius: 1em 0 0 0;
    -fx-border-radius: 1em 0 0 0;
}

#calendarPane .combo-box > .list-cell:selected, #calendarPane .list-cell
{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-border-color: #0097A7;
}

#calendarPane #yearsComboBox > .list-cell
{
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}