.button
{
    -fx-font-family: "Noto Serif Georgian";
    -fx-font-size: 14px;
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
    -fx-background-color:  #b3b3ff;
    -fx-border-color: blue;
    -fx-border-width: 2px;
    -fx-text-fill: blue;
}

.pane
{
    -fx-background-color: transparent;
}

.button:focused
{
    -fx-text-fill: #b3b3ff;
    -fx-background-color: blue;
    -fx-border-color: #b3b3ff;
    -fx-border-width: 4px;
}

.combo-box
{
    -fx-font-size: 11px;
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
    -fx-border-width: 2px;
    -fx-background-color:  #b3b3ff;
    -fx-border-color: blue;
    -fx-border-width: 2px;
    -fx-text-fill: blue;
}

.label
{
    -fx-font-family: "Noto Serif Georgian";
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.text-field
{
    -fx-font-family: "Noto Serif Georgian";
    -fx-font-size: 14px;
}

#closeButton
{
    -fx-min-width: 30;
    -fx-max-width: 30;
    -fx-min-height: 30;
    -fx-max-height: 30;

}

#minimiseButton
{
    -fx-min-width: 30;
    -fx-max-width: 30;
    -fx-min-height: 30;
    -fx-max-height: 30;

}

#menuButton
{
    -fx-font-family: System;
    -fx-font-size: 12px;
    -fx-min-width: 70;
    -fx-max-width: 70;
    -fx-min-height: 30;
    -fx-max-height: 30;
}

#mainPane
{
    -fx-background-color: linear-gradient(#8080ff 0%, blue 100%);
    -fx-background-radius: 2em;
    -fx-border-color: blue;
    -fx-border-width: 2px;
    -fx-border-radius: 2em;
    -fx-rotate-
}

#menuBar
{
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-min-height: 720;
    -fx-max-height: 720;
}

#logOutButton
{
    -fx-background-radius: 0 1em 0 0;
    -fx-border-radius: 0 1em 0 0;
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-min-height: 60;
    -fx-max-height: 60;
}

#viewProfileButton
{
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color:  #b3b3ff;
    -fx-border-color: blue;
    -fx-border-width: 2px;
    -fx-text-fill: blue;
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-min-height: 60;
    -fx-max-height: 60;
}

#uploadDataButton
{
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color:  #b3b3ff;
    -fx-border-color: blue;
    -fx-border-width: 2px;
    -fx-text-fill: blue;
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-min-height: 60;
    -fx-max-height: 60;
}

#viewActivitiesButton
{
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color:  #b3b3ff;
    -fx-border-color: blue;
    -fx-border-width: 2px;
    -fx-text-fill: blue;
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-min-height: 60;
    -fx-max-height: 60;
}

#goalsButton
{
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color:  #b3b3ff;
    -fx-border-color: blue;
    -fx-border-width: 2px;
    -fx-text-fill: blue;
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-min-height: 60;
    -fx-max-height: 60;
}

#analysisButton
{
    -fx-background-radius: 0 0 1em 0;
    -fx-border-radius: 0 0 1em 0;
    -fx-background-color:  #b3b3ff;
    -fx-border-color: blue;
    -fx-border-width: 2px;
    -fx-text-fill: blue;
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-min-height: 60;
    -fx-max-height: 60;
}

#closeButton
{
    -fx-font-size: 12px;
}

#minimiseButton
{
    -fx-font-size: 14px;
}

/*Table View Style*/
.table-view
{
    -fx-background-radius: 1em;
    -fx-background-color: #8080ff;
    -fx-border-radius: 1em;
    -fx-border-color: blue;
}

.column-header
{
    -fx-background-color: transparent;
}

.table-row-cell
{
    -fx-background-color: #8080ff;
    -fx-border-color: blue;
    -fx-text-background-color: white;
}

.table-row-cell:selected
{
    -fx-background-color: blue;
    -fx-border-color: white;
    -fx-text-background-color: white;
}

.table-view .column-header-background
{
    -fx-background-radius: 1em 1em 0 0;
    -fx-background-color: #b3b3ff;
}

.table-view .column-header-background .label
{
    -fx-background-radius: 1em 1em 0 0;
    -fx-background-color: transparent;
    -fx-text-fill: blue;
}


/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: blue;
    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: blue;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}