/.metadata/
SENG202_Project.iml
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.git
/.idea/*
/.codestyles/*
/.codestyles/
/.idea/
metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
code.style.schemes.xml
local.properties
.settings/
.loadpath
.recommenders
vcs.xml
usageView.xml
find.xml
filetypes.xml
debugger.xml
databaseSettings.xml
baseRefactoring.xml
/._linux/git.xml
/._linux/laf.xml
/._linux/path.macros.xml
/._linux/
ui.lnf.xml
/.codestyles/Default.xml
# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet
